body {
        background-color: #c64141;
}
div table {
width: 100px;
background-color: #973d3d;
}
table caption {

}
table tr {

}
table tr th {

}
table tr td {

}
table tr td img {
        width: 20%;
}