/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}
body {
background-color: #c2cdd9;
}

.container {

    grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
}
/* Header & meny*/
header {
background-color: #971a1a;
grid-area: "header";
}

header .front {
text-decoration: none;
font-size: 30px;
letter-spacing: 1px;
color: black;
text-decoration: none;

}
header nav {
        padding: 10px;
        text-align: center;

}
header nav a {
        text-decoration: none;
    color: black;
    letter-spacing: 1px;
padding: 5px;
        background-color: #CAE0EB;
}

main {
background-color: #1f7290;
grid-area: "main";
}

aside {
background-color: #693f3f;
grid-area: "aside";
}
aside .aside {
    
}

footer {
background-color: #4b4e50;
grid-area: "footer";
}
